@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?rfykrk');
	src:url('../fonts/icons.eot?#iefixrfykrk') format('embedded-opentype'),
		url('../fonts/icons.woff?rfykrk') format('woff'),
		url('../fonts/icons.ttf?rfykrk') format('truetype'),
		url('../fonts/icons.svg?rfykrk#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-box:before {
	content: "\e600";
        font-size: 1000%;
}

blockquote {
font-size: 18px;
font-style: italic;
position: relative;
background: #fafafa;
padding: 0.5em 0.5em 2.5em 4em;
max-width: 70%;
}

blockquote:before {
font-family: 'icons';
font-style: normal;
position: absolute;
left: 0.2em;
top: 0.2em;
content: "\e607";
font-size: 40px;
color: #909090;
margin-right: 0.5em;
}

blockquote p {
display: inline;
}

blockquote cite:before {
content: "\2014 \2009";
color: #909090;
}

blockquote cite {
position: absolute;
bottom: 0.2em;
left: 5em;
}

blockquote cite a {
color: #909090;
text-decoration: none;
}

blockquote cite a:hover {
color: #404040;
text-decoration: underline;
}

